/* Header کلی */

@font-face {
    font-family: 'MyFont';
    src: url('../fonts/KalamehWeb-Regular.woff2') format('woff2'),
        url('../fonts/KalamehWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'MyFont', sans-serif;
    padding: 0px;
    margin: 0px;
}

header,
h1,
p,
div {
    font-family: 'MyFont', sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* وسط چین کردن هدر کل */
    font-family: Arial, sans-serif;
}

button {
    all: unset;
    /* همه استایل‌های پیشفرض مرورگر پاک می‌شود */
    display: inline-block;
    /* یا flex/block برای کنترل سایز */
    cursor: pointer;
    /* نشانگر موس */
}


/* بخش اول هدر */
.header-top {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    background: #ffffff;
    width: 1280px;
    /* پهنای ثابت */
    height: 80px;
    justify-content: space-between;
    direction: rtl;
    /* راست به چپ */
}

.header-top>div {
    display: flex;
    align-items: center;
    margin: 0 10px;
    position: relative;
}

.line-vertical {
    width: 0.5px;
    /* پهنای خط */
    height: 30%;
    /* ارتفاع نسبت به والد */
    background-color: #d5d5d5;
    /* رنگ خط */
}

/*لوگو*/

.logo-pic {
    height: 60px;
    /* ارتفاع والد مشخص */
    display: flex;
    align-items: center;
    /* وسط چین عمودی */
}

.logo-pic img {
    height: 95%;
    /* 90% ارتفاع والد */
    width: auto;
    /* نسبت تصویر حفظ بشه */
    display: block;
    /* برای حذف فاصله پایین تصویر */
}

/*عنوان و توضیحات لوگو*/
.logo-name {
    display: flex;
    flex-direction: column;
    /* آیتم‌ها را روی هم قرار بده */
    justify-content: center;
    /* وسط چین عمودی */
}

.header-title {
    font-size: 25px;
    line-height: 5px;
    margin: 10px;
    color: #6968af;
}

.header-description {
    font-size: 16px;
    line-height: 5px;
    margin: 10px;
    color: #7cd1e5;
}

/* لوگو، حساب کاربری و سبد خرید - اندازه ثابت */
.logo,
.account,
.cart {
    flex: 0 0 auto;
    /* اندازه ثابت، کشیده نمیشن */
}

/* بخش جستجو */
.search {
    display: flex;
    flex: 1;
    /* کشیده شدن حداکثر */
    height: 60px;
    /* 55px ارتفاع والد */
    background-color: #eee;
    /* پس زمینه ملایم خاکستری */
    border-radius: 15px;
    overflow: hidden;
}

/* input جستجو */
.search input {
    font-family: 'MyFont', sans-serif;
    flex: 1;
    border: none;
    padding: 0 10px;
    font-size: 1em;
    line-height: 0;
    outline: none;
    background: transparent;
    /* تا پس‌زمینه والد دیده بشه */
}

/* دکمه آیکن */
.search-btn {
    height: 55px;
    /* 55px ارتفاع والد */
    width: 40px;
    background-image: url('../pic/search.svg');
    /* مسیر SVG خودت */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    /* سایز SVG داخل دکمه */
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    border-width: 0;
}

.search-btn:hover {
    background-color: #6968af;
    background-image: url('../pic/search-hover.svg');
    /* مسیر SVG خودت */
}

/*account icon */
.account-icon {
    height: 55px;
    /* ارتفاع والد مشخص */
    display: flex;
    align-items: center;
    /* وسط چین عمودی */
}

.account-icon img {
    height: 50%;
    /* 90% ارتفاع والد */
    width: auto;
    /* نسبت تصویر حفظ بشه */
    display: block;
    /* برای حذف فاصله پایین تصویر */
}

/*cart icon */
.cart-icon {
    height: 55px;
    /* ارتفاع والد مشخص */
    display: flex;
    align-items: center;
    /* وسط چین عمودی */
}

.cart-icon img {
    height: 50%;
    /* 90% ارتفاع والد */
    width: auto;
    /* نسبت تصویر حفظ بشه */
    display: block;
    /* برای حذف فاصله پایین تصویر */
}

.header-divider {
    width: 100%;
    /* کل عرض صفحه */
    height: 0.5px;
    /* ضخامت خط */
    background-color: #eee;
    /* رنگ خط */
}

/* بخش دوم هدر */
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    height: 80px;
    padding: 10px 0;
    width: 1280px;
    /* پهنای ثابت */
    direction: rtl;
    /* راست به چپ */
}

/* منوی دراپ‌داون */
.menu-dropdown {
    position: relative;
    display: flex;
    height: 60px;
    /* 55px ارتفاع والد */
    background-color: #eee;
    /* پس زمینه ملایم خاکستری */
    border-radius: 15px;
}

.menu-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 15px;
}

.dropdown-icon {
    font-size: 10px;
    margin-right: 100px;
}

.menu-title img {
    height: 50%;
    /* 90% ارتفاع والد */
    width: auto;
    /* نسبت تصویر حفظ بشه */
    display: block;
    /* برای حذف فاصله پایین تصویر */
    margin-left: 10px;
}

.menu-list {
    position: absolute;
    top: 100%;
    right: 0;
    /* راست به چپ */
    background: #f8f8f8;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    width: 150px;
    transform: translateY(10px);
    transition: all 0.3s ease;
    border-radius: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 10px;
}

.menu-dropdown:hover .menu-list {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.menu-list li {
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
}

.menu-list li:hover {
    background: #eee;
}

/* زیرمنو */
.sub-menu-list {
    position: absolute;
    top: 0;
    right: 100%;
    /* 👈 برای RTL (سمت چپ باز میشه) */

    background: #f8f8f8;
    list-style: none;
    padding: 0;
    width: max-content;
    /* مخفی */
    opacity: 0;
    visibility: hidden;
    transform: translateX(10px);
    margin-right: 10px;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.sub-menu-list li {
    padding-right: 20px;
    padding-left: 20px;
}

.has-sub-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 👈 مهم */
}

/* نمایش زیرمنو */
.has-sub-menu:hover .sub-menu-list {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.menu-4-items {
    display: flex;
    flex: 1;
    /* کشیده شدن حداکثر */
    justify-content: flex-start;
    /* 👈 چسبیدن به ابتدا */
}

/* منوی ۴ موردی */
.menu-4-items ul {
    justify-content: first baseline;
    display: flex;
    gap: 15px;
    list-style: none;
}

.menu-4-items ul li {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.menu-4-items ul li:hover {
    color: #6968af;
}

/* بخش پشتیبانی */
.support {
    display: flex;
    align-items: center;
    gap: 10px;
}

.support-pic {
    height: 60px;
    /* ارتفاع والد مشخص */
    display: flex;
    background-color: #eee;
    border-radius: 15px;
    padding: 15px;
    align-items: center;
    /* وسط چین عمودی */
}

.support-pic img {
    height: 25px;
    /* 90% ارتفاع والد */
    width: auto;
    /* نسبت تصویر حفظ بشه */
    display: block;
    /* برای حذف فاصله پایین تصویر */
}

.support-text span:first-child {
    display: block;
    font-weight: bold;
    text-align: left;
}

.support-text span:last-child {
    display: block;
    font-size: 0.9em;
    color: #333;
    text-align: left;
}


/* بدنه اصلی */
.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* وسط چین کردن هدر کل */
    font-family: Arial, sans-serif;
}

/* بردکرامب */
.breadcrumb {
    width: 1280px;
    direction: rtl;
    /* راست به چپ */
    display: flex;
    align-items: start;
    background-color: #eee;
    padding: 5px;
    padding-right: 15px;
    border-radius: 15px;
    margin-top: 10px;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
    margin-left: 7px;
    margin-right: 7px;
}

.breadcrumb a:hover {
    color: #6968af;
}

.active-breadcrumb {
    color: #6968af !important;
}

/* بخش اطلاعات اصلی و کلی محصول */
.product-main {
    display: flex;
    width: 1280px;
    direction: rtl;
    /* راست به چپ */
    align-items: start;
    background-color: #eee;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    gap: 40px;
}

.product-features-title {
    width: 37%;
}

.product-price-buy {
    width: 25%;
}


/* گالری تصاویر  */
.gallery {
    display: flex;
    gap: 10px;
    width: 38%;
    max-width: 1000px;
    align-items: stretch;
}

/* تصویر اصلی */
.main-image {
    width: 80%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #f3f4f6;
}

.main-image::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.main-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: zoom-in;
}

.main-image:hover img {
    transform: scale(1.15);
}

/* ستون سمت راست */
.thumbs-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* گالری */
.thumbs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    /* مهم */
    flex: 1;
    border-radius: 15px;
}

/* هر آیتم فقط 3 تا دیده بشه */
.thumb {
    width: 100%;
    height: calc((100% - 20px) / 3);
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    background: #f3f4f6;
}

.thumb:hover {
    opacity: 70%;
    ;
    border-radius: 15px;
}

.thumb.active {
    border: 2px solid #007bff;
}

/* فلش‌ها */
.arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.arrow {
    border: none;
    background: #eee;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;
}

.arrow:hover {
    background: #ddd;
}

/* مودال */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal img {
    max-width: 85%;
    max-height: 85%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
}

.modal-prev,
.modal-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    padding: 10px;
}

.modal-prev {
    left: 20px;
}

.modal-next {
    right: 20px;
}

/*عنون محصول */
.title {
    font-size: 22px;
    font-weight: bolder;
    margin: 0;
    margin-top: 15px;
}

.features-title {
    display: flex;
    align-items: center;
    direction: rtl; /* مهم */
    gap: 10px;
    margin-top: 15px;
}

.line-ended-p {
    white-space: nowrap;
    font-weight: 600;
    font-size: 17px;
    color: #333;
}

.line {
    flex: 1;
    height: 1px;
    background: #ccc;
    margin-top: 5px;
    margin-right: 15px;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #666;
    font-size: 15px;
    margin-top: 15px;
    margin-right: 10px;
}
.features-list li {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative; /* 👈 ضروری */
    line-height: 25px;
    padding-right: 20px;

}
.features-list li::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: rgb(105, 104, 175);
    border-radius: 50%;
}